{% extends 'base_layout.html' %}
{% block content %}

<section class="h-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
     <!-- The actual snackbar -->
     <div id="snackbar">{{alert_msg}}</div>
  
    {% if show_msg %}
      <script>
        alertFunc()
    </script>  
    {% endif %}
    <form id="changeCartQuantity" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" id="inc_dec_isbn" name="ISBN" value="">
      <input type="hidden" id="inc_dec_action" name="action" value="">
    </form>    

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
                
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="{% url 'books:list'%}" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{count_items}} items in your cart</p>
                    </div>
                    <div>
                      <form id="sortbyprice" action="" method="POST">
                        {% csrf_token %}
                      <input type="hidden" name="action" value="sort">
                      <input type="hidden" name="asc" value="{{asc}}">
                      <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#"
                          class="text-body" onclick="sortbypriceformsubmit()">price <i class="fas fa-angle-down mt-1"></i></a></p>
                      </form>
                    </div>
                  </div>
                  
                    {% for item in items %}
                        <div class="card mb-3">
                            <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                <div>
                                    <img
                                    src="{{item.image}}"
                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="ms-2">
                                    <h5>{{item.title}}</h5>
                                    {% if item.isAvailable == 0 %}
                                    <div class="small mb-0 alert alert-danger text-cente" role="alert">
                                      Out of Stock
                                    </div>
                                    {% else %}
                                    <div class="small mb-0 alert alert-success text-center" role="alert">
                                      In Stock
                                    </div>
                                    {% endif %}
                                </div>
                                </div>
                                
                                <div class="d-flex flex-row align-items-center">
                                  <div style="width: 50px;">
                                    <button class="btn btn-outline-dark" type="button" onclick="cart_qty_change('{{item.ISBN}}', 'dec')">-</button>
                                  </div>
                                  <div style="width: 40px;">
                                    <p class="fw-normal mb-0" style="padding-left:5px; padding-right:5px">{{item.quantity}}</p>
                                  </div>
                                  <div style="width: 60px;">
                                    <button class="btn btn-outline-dark" type="button" onclick="cart_qty_change('{{item.ISBN}}', 'inc')">+</button>
                                  </div>
                                <div style="width: 80px;">
                                    
                                    <h5 class="mb-0">${% widthratio item.price 1 item.quantity %}</h5>
                                    
                                </div>
                                <form id="{{"deleteCartItemForm_"|add:item.ISBN}}" action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="delete_cart_item">
                                    <input type="hidden" name="ISBN" value="{{item.ISBN}}" class="book_id">
                                    <a href="#" onclick="deleteCartItem('{{item.ISBN}}')" style="color: #000000;"><i class="fas fa-trash-alt"></i></a>
                                </form>

                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                
  
                  {% comment %} <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>Samsung galaxy Note 10 </h5>
                            <p class="small mb-0">256GB, Navy Blue</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">2</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$900</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>Canon EOS M50</h5>
                            <p class="small mb-0">Onyx Black</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">1</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$1199</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-3 mb-lg-0">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>MacBook Pro</h5>
                            <p class="small mb-0">1TB, Graphite</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">1</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$1799</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div> {% endcomment %}
  
                </div>

                {%if count_items > 0%}
                <div class="col-lg-5">  
                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-0">
                        <h5 class="mb-0">Card details</h5>
                        <img src="https://t3.ftcdn.net/jpg/02/33/46/24/360_F_233462402_Fx1yke4ng4GA8TJikJZoiATrkncvW6Ib.jpg"
                          class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                      </div>
  
                      <p class="small mb-2">Card type</p>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-visa fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-amex fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
  
                      <form id="submitPayment" class="mt-4" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="payment">
                        <div class="form-outline form-white mb-4">
                          <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            placeholder="Cardholder's Name" />
                          <label class="form-label" for="typeName">Cardholder's Name</label>
                        </div>
  
                        <div class="form-outline form-white mb-4">
                          <input type="text" id="typeText_1" class="form-control form-control-lg" siez="17"
                            placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                          <label class="form-label" for="typeText_1">Card Number</label>
                        </div>
  
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg"
                                placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                              <label class="form-label" for="typeExp">Expiration</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-outline form-white">
                              <input type="password" id="typeText_2" class="form-control form-control-lg"
                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                              <label class="form-label" for="typeText_2">Cvv</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-outline form-white">
                            <div class="form-check">
                              <input onclick="enableCardForm();" class="form-check-input" type="radio" name="payment_type" value=1 id="flexRadioDefault1" checked>
                              <label class="form-check-label" for="flexRadioDefault1">
                                Card
                             </label>
                          </div>
                          <div class="form-check">
                            <input onclick="disableCardForm();" class="form-check-input" type="radio" name="payment_type" value=2 id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Paypal
                           </label>
                        </div>
                          </div>
                        </div>
  
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">${{total_cost|stringformat:".2f"}}</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping</p>
                        <p class="mb-2">$20.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2">${{total_cost|add:20|stringformat:".2f"}}</p>
                      </div>
  

                      {% if checkout_btn_disable %}
                        <a href="#" onclick="submitPaymentForm()" type="button" class="btn btn-danger btn-block btn-lg" style="pointer-events: none">
                          <div class="d-flex justify-content-between">
                            {% comment %} <span>${{total_cost|add:20|stringformat:".2f"}}</span> {% endcomment %}
                            <span>Delete the out of stock items and then checkout</span>
                          </div>
                        </a>
                      {% else %}
                        <a href="#" onclick="submitPaymentForm()" type="button" class="btn btn-info btn-block btn-lg">
                          <div class="d-flex justify-content-between">
                            {% comment %} <span>${{total_cost|add:20|stringformat:".2f"}}</span> {% endcomment %}
                            <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                          </div>
                        </a>
                      {% endif %}
                       

                      </form>
                    </div>
                  </div>
  
                </div>
                {% endif %}
                <a href="{% url 'books:charts' %}" class="btn btn-outline-primary">Charts</a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}